<form action="/home/update/" method="post">
    <p>제목</p>
    <input type="text" name="input_title" placeholder="<%= @post.title %>">
    <p>내용</p>
    <input type="text" name="input_content" palceholder="<% @post.content%>">
    <input type="submit">
</form>
