<img src="logo_3.jpg" class="logo">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/home/login">Login <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/home/sign">Sign Up</a>
      <a class="nav-item nav-link" href="/home/mypage">My Page</a>
      <a class="nav-item nav-link disabled" href="/home/community">Community</a>
      <a class="nav-item nav-link" href="/home/mission">Mission</a>
    </div>
  </div>
</nav>