<form action="/home/create" method="post">
    
    <p>제목</p>
    
    <input type="text" name="input_title">
    
    <p>내용</p>
    
    <input type="text" name="input_content">
    
    <p>제출</p>
    
    <input type="submit">

</form>


<a href="/">홈으로</a>
